* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-pane {
  height: 100%;
}

.right-pane {
  display: grid;
  align-content: start;
}
