html {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 1ch;
}

.app-layout {
  display: grid;
  grid-template:
    "header header" auto
    "sidebar input" var(--input-height)
    "sidebar output" 1fr / var(--sidebar-width) 2fr;
}
